<dbconfigs>
    <Store.db version="22">
        <proxy class="com.ctrip.ibu.train.base.data.TrainDbHelperProxy" />
        <proxy class="com.ctrip.ibu.flight.data.FlightDbHelperProxy" />
        <proxy class="com.ctrip.ibu.hotel.common.HotelDbHelperProxy" />
        <proxy class="com.ctrip.ibu.myctrip.support.MyCtripDbHelperProxy" />
        <proxy class="com.ctrip.ibu.account.business.AccountDbHelperProxy" />
    </Store.db>
    <ctripstatic.db version="18">
    </ctripstatic.db>
</dbconfigs>